@model SystemsViewModel

@{
    var modalID = "details-modal";
}

@if (Model.Systems.Count > 0)
{
    <!-- START: System tools row -->
    <div class="row">
        <div class="btn-group button-add-system" role="group">
            <a id="add-system-btn" data-toggle="modal" data-target="#@modalID"
               asp-action="AddCompressorSystemAjaxFormAsync" asp-controller="Compressors" asp-route-id="@Model.CompressorTypeId"
               class="btn btn-default">
                Додади нов систем
            </a>
            <a data-toggle="modal" data-target="#@modalID"
               asp-action="EditCompressorSystemAjaxFormAsync" asp-controller="Compressors" asp-route-id="@Model.CompressorTypeId"
               class="btn btn-default">
                Измени систем
            </a>
            <a data-toggle="modal" data-target="#@modalID"
               asp-action="DeleteCompressorSystemAjaxFormAsync" asp-controller="Compressors" asp-route-id="@Model.CompressorTypeId"
               class="btn btn-default">
                Избриши систем
            </a>
        </div>
    </div>
    <!-- END: System tools row -->

    @foreach (var system in Model.Systems)
    {
        <!-- START: Single system collapsible box -->
        <div class="box collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">@system.Name</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: none">
                <partial name="_CompressorPartsPartial" 
                    model="new PartsViewModel { CompressorSystemId = system.CompressorSystemId, Parts = system.Parts }" />
            </div>
        </div>
        <!-- END: Single system collapsible box -->
    }
}
else
{
    <a id="add-system-btn" data-toggle="modal" data-target="#@modalID"
       asp-action="AddCompressorSystemAjaxFormAsync" asp-controller="Compressors" asp-route-id="@Model.CompressorTypeId"
       class="btn btn-info btn-block btn-sm">
        Додади нов систем
    </a>
}

<!-- ============================== ( MODALS ) ============================== -->
<div id="deleteCompressorSystemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <form asp-action="DeleteCompressorSystemAjaxFormAsync" asp-controller="Compressors"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-update="#ajax-delete-system-form-result"
                  data-ajax-complete="onDeleteCompressorSystemComplete">
                <div id="ajax-delete-system-form-result">
                    <!--
                    <partial name="_DeleteCompressorSystemFormPartial" model="new DeleteCompressorSystemDetailsViewModel() {  }" />
                    -->
                </div>
            </form>

        </div>
    </div>
</div>

<div id="deleteCompressorSystemConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="fa fa-remove"></i>
                </div>
                <h4 class="modal-title">Дали сте сигурни?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Дали навистина сакате да го избришете овој систем? Со оваа акција се бришат сите делови кои му припаѓаат на овој систем.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Откажи</button>
                <button id="deleteCompressorSystemButton" type="button" class="btn btn-danger">Избриши</button>
            </div>
        </div>
    </div>
</div>