@model FacilityManagement.Web.Models.ViewModels.CompressorDetailsViewModel

@{
    ViewData["Title"] = "Детали";
    ViewData["Description"] = "Кратко инфо";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <span class="glyphicon glyphicon-align-justify"></span>
                <h3 class="box-title">@Model.Name</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Производител</dt>
                    <dd>@Model.Manufacturer</dd>
                    <dt>Модел</dt>
                    <dd>@Model.Model</dd>
                    <dt>Опис</dt>
                    <dd>@Model.Description</dd>
                </dl>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <span class="glyphicon glyphicon-edit"></span>
                <h3 class="box-title">Поставки</h3>
            </div>
            <div class="box-body">
                <button type="button" class="btn btn-default btn-block btn-sm">Измени податоци</button>
                <button type="button" class="btn btn-default btn-block btn-sm">Избриши</button>
                <button type="button" class="btn btn-default btn-block btn-sm">Додади нов систем</button>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- ./col -->
</div>

<div class="box box-solid box-container">
    <div class="box-header with-border">
        <span class="glyphicon glyphicon-edit"></span>
        <h3 class="box-title">Детален преглед</h3>
    </div>
    <div class="box-body">
        <ul class="nav nav-pills nav-justified">
            @foreach (var subtype in Model.CompressorSubTypes)
            {
                <li class="active"><a href="#" id="@subtype.CompressorSubTypeId">@subtype.Name</a></li>
            }
        </ul>

        <div id="box-systems-container">
        </div>

        <div id="ajax-systems-loading" class="overlay" hidden>
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {

    <script>

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "https://localhost:44303/api/compressorSystems/byCompressorId/1",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#ajax-systems-loading').show();
            },
            complete: function () {
                $('#ajax-systems-loading').hide();
            },
            success: function (data) {

                $("#box-systems-container").html('');
                $.each(data, function (i, item) {
                    var system = '\
                    <div class="box">\
                        <div class="box-header with-border">\
                            <h3 class="box-title">' + item.name + '</h3>\
                        </div>\
                        <div class="box-body">\
                            ДЕЛОВИ\
                        </div>\
                    </div>';
                    $('#box-systems-container').append(system);
                }); 
                console.log(data);
            }, //End of AJAX Success function
            
            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
    </script>

}