@model FacilityManagement.Web.Models.ViewModels.CompressorDetailsViewModel

@{
    ViewData["Title"] = "Детали";
    ViewData["Description"] = "Кратко инфо";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <span class="glyphicon glyphicon-align-justify"></span>
                <h3 class="box-title">Општи информации</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal" id="compressor-info-list">
                </dl>
            </div>
            <!-- /.box-body -->

            <div id="ajax-compressor-info-loading" class="overlay" hidden>
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <!-- /.box -->
    </div>

    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <span class="glyphicon glyphicon-edit"></span>
                <h3 class="box-title">Поставки</h3>
            </div>
            <div class="box-body">
                <button data-toggle="modal" data-target="#editCompressorModal" type="button" class="btn btn-default btn-block btn-sm">Измени податоци</button>
                <button id="testbtn2" type="button" class="btn btn-default btn-block btn-sm">Избриши</button>
                <button type="button" class="btn btn-default btn-block btn-sm">Додади нов систем</button>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- ./col -->
</div>

<div class="box box-info box-container">
    <div class="box-header with-border">
        <span class="glyphicon glyphicon-edit"></span>
        <h3 class="box-title">Детален преглед - системи и компоненти</h3>
    </div>
    <div class="box-body pills-in-box">
        <ul class="nav nav-pills nav-justified">
            @foreach (var subtype in Model.CompressorSubTypes)
            {
                <li><a href="#" subTypeId="@subtype.CompressorSubTypeId">@subtype.Name</a></li>
            }
        </ul>

        <div id="box-systems-container"></div>
    </div>
    <div id="ajax-systems-loading" class="overlay" hidden>
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

<div id="editCompressorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <form onsubmit="return SubmitAddEdit(this, event)" data-ajax="true">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CompressorId" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"></input>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manufacturer" class="control-label"></label>
                        <input asp-for="Manufacturer" class="form-control" />
                        <span asp-validation-for="Manufacturer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WorkingHours" class="control-label"></label>
                        <input asp-for="WorkingHours" class="form-control" />
                        <span asp-validation-for="WorkingHours" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                    <button type="submit" class="btn btn-info">Зачувај</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <environment include="Development">
        <script src="~/lib/jquery.serializeJSON/jquery.serializejson.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery.serializeJSON/jquery.serializejson.min.js"></script>
    </environment>

    <script>
        $(document).ready(function () {
            loadCompressorInfo(@Model.CompressorId);

            var subTypeId = $(".nav-pills li a[subTypeId]:first").attr("subTypeId");
            loadSystemsAndParts(subTypeId);

            $(".nav-pills li a[subTypeId]").click(function () {
                var subTypeId = $(this).attr("subTypeId");
                loadSystemsAndParts(subTypeId);
            });
        });

        function SubmitAddEdit(form, event) {
            event.preventDefault();

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                console.log(data.compressorId);
                var compressorId = data.CompressorId;
                data = JSON.stringify(data);
                $.ajax({
                    type: 'PUT',
                    url: 'https://localhost:44303/api/compressors',
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            console.log(data.message);
                            loadCompressorInfo(compressorId);
                            $('#editCompressorModal').modal('hide');
                            //ShowMessage(data.message);
                        }
                    }
                });
            }
        }

        function loadCompressorInfo(compressorId) {
            $.ajax({
                type: "GET",
                url: "https://localhost:44303/api/compressors/" + compressorId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#ajax-compressor-info-loading').show();
                },
                success: function (model) {
                    console.log(model);
                    var htmlInfo = '\
                        <dt>Име</dt>\
                        <dd>' + model.name + '</dd>\
                        <dt>Производител</dt>\
                        <dd>' + model.manufacturer + '</dd>\
                        <dt>Модел</dt>\
                        <dd>' + model.model + '</dd>\
                        <dt>Опис</dt>\
                        <dd>' + model.description + '</dd>\
                        <dt>Работни часови</dt>\
                        <dd>' + model.workingHours + '</dd>\
                    ';
                    $("#compressor-info-list").html(htmlInfo);

                    $('#ajax-compressor-info-loading').hide();
                }, //End of AJAX Success function

                failure: function (data) {
                    alert("ГРЕШКА: " + data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert("ГРЕШКА: " + data.responseText);
                } //End of AJAX error function
            });
        }

        function loadSystemsAndParts(subTypeId) {
            $.ajax({
                type: "GET",
                url: "https://localhost:44303/api/compressorSystems/bySubTypeId/" + subTypeId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#ajax-systems-loading').show();
                },
                success: function (data) {
                    $("#box-systems-container").html('');
                    if (data.length == 0) {
                        $('#box-systems-container').append('<h4 class="text-center">Немате додадено системи</h4>');
                    } else {
                        $.each(data, function (i, item) {
                            // РЕФАКТОР НА ШПАГЕТИ КОДООООТ!
                            var system = '\
                            <div class="box collapsed-box">\
                                <div class="box-header with-border" data-widget="collapse">\
                                    <h3 class="box-title">' + item.name + '</h3>\
                                    <div class="box-tools pull-right">\
                                        <button type="button" class="btn btn-box-tool">\
                                            <i class="fa fa-plus"></i>\
                                        </button>\
                                    </div>\
                                </div>\
                                <div class="box-body" style="display: none">';
                                if (item.parts.length > 0) {
                                    system += '\
                                    <div class="table-responsive">\
                                        <table class="table table-hover table-bordered table-striped table-responsive table-parts">\
                                            <thead>\
                                                <tr>\
                                                    <th>Компонента</th>\
                                                    <th>Последен сервис</th>\
                                                    <th>Следен сервис</th>\
                                                    <th class="text-center">Поставки</th>\
                                                </tr>\
                                            </thead >\
                                            <tbody>';
                                            for (i = 0; i < item.parts.length; ++i) {
                                                var part = item.parts[i];
                                                system += '\
                                                <tr>\
                                                    <td>' + part.name + '</td>\
                                                    <td> @DateTime.Now </td>\
                                                    <td> @DateTime.Now.AddDays(2) </td>\
                                                    <td class="text-center" style="min-width: 170px">\
                                                        <div class="btn-group btn-group-sm">\
                                                            <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> Измени</button>\
                                                            <button type="button" class="btn btn-default"><i class="fa fa-trash"></i> Избриши</button>\
                                                        </div>\
                                                    </td>\
                                                </tr>';
                                            }
                                            system += '\
                                            </tbody>\
                                        </table>\
                                    </div >';
                                }
                                else {
                                    system += '<h4 class="text-center">Немате додадено компоненти во рамки на овој систем</h4>';
                                }
                                system += '\
                                </div >\
                            </div>';
                            $('#box-systems-container').append(system);
                        });

                        $('table.table-parts').DataTable();
                        $('#box-systems-container .box').boxWidget({
                            animationSpeed: 300
                        });
                    }

                    $(".nav-pills li a[subTypeId]").parent("li").removeClass("active");
                    $(".nav-pills li a[subTypeId=" + subTypeId + "]").parent("li").addClass("active");

                    $('#ajax-systems-loading').hide();
                }, //End of AJAX Success function

                failure: function (data) {
                    alert("ГРЕШКА: " + data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert("ГРЕШКА: " + data.responseText);
                } //End of AJAX error function
            });
        }
    </script>
}
