@model FacilityManagement.Web.Models.ViewModels.CompressorDetailsViewModel

@{
    ViewData["Title"] = "Детали";
    ViewData["Description"] = "Кратко инфо";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <span class="glyphicon glyphicon-align-justify"></span>
                <h3 class="box-title">@Model.Name</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Производител</dt>
                    <dd>@Model.Manufacturer</dd>
                    <dt>Модел</dt>
                    <dd>@Model.Model</dd>
                    <dt>Опис</dt>
                    <dd>@Model.Description</dd>
                    <dt>Работни часови</dt>
                    <dd>@Model.WorkingHours</dd>
                </dl>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <span class="glyphicon glyphicon-edit"></span>
                <h3 class="box-title">Поставки</h3>
            </div>
            <div class="box-body">
                <button id="testbtn" type="button" class="btn btn-default btn-block btn-sm">Измени податоци</button>
                <button id="testbtn2" type="button" class="btn btn-default btn-block btn-sm">Избриши</button>
                <button type="button" class="btn btn-default btn-block btn-sm">Додади нов систем</button>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- ./col -->
</div>

<div class="box box-solid box-container">
    <div class="box-header with-border">
        <span class="glyphicon glyphicon-edit"></span>
        <h3 class="box-title">Детален преглед - системи и компоненти</h3>
    </div>
    <div class="box-body pills-in-box">
        <ul class="nav nav-pills nav-justified">
            @foreach (var subtype in Model.CompressorSubTypes)
            {
                <li><a href="#" subTypeId="@subtype.CompressorSubTypeId">@subtype.Name</a></li>
            }
        </ul>

        <div id="box-systems-container"></div>

        <div id="ajax-systems-loading" class="overlay" hidden>
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var subTypeId = $(".nav-pills li a[subTypeId]:first").attr("subTypeId");
            loadSystemsAndParts(subTypeId);

            $(".nav-pills li a[subTypeId]").click(function () {
                var subTypeId = $(this).attr("subTypeId");
                loadSystemsAndParts(subTypeId);
            });
        });

        function loadSystemsAndParts(subTypeId) {
            $.ajax({
                type: "GET",
                url: "https://localhost:44303/api/compressorSystems/bySubTypeId/" + subTypeId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#ajax-systems-loading').show();
                },
                complete: function () {
                    $('#ajax-systems-loading').hide();
                },
                success: function (data) {
                    $("#box-systems-container").html('');
                    if (data.length == 0) {
                        $('#box-systems-container').append('<h4 class="text-center">Немате додадено системи</h4>');
                    } else {
                        $.each(data, function (i, item) {
                            // РЕФАКТОР НА ШПАГЕТИ КОДООООТ!
                            var system = '\
                            <div class="box collapsed-box">\
                                <div class="box-header with-border" data-widget="collapse">\
                                    <h3 class="box-title">' + item.name + '</h3>\
                                    <div class="box-tools pull-right">\
                                        <button type="button" class="btn btn-box-tool">\
                                            <i class="fa fa-plus"></i>\
                                        </button>\
                                    </div>\
                                </div>\
                                <div class="box-body" style="display: none">';
                                if (item.parts.length > 0) {
                                    system += '\
                                    <div class="table-responsive">\
                                        <table class="table table-hover table-bordered table-striped table-responsive table-parts">\
                                            <thead>\
                                                <tr>\
                                                    <th>Компонента</th>\
                                                    <th>Последен сервис</th>\
                                                    <th>Следен сервис</th>\
                                                    <th class="text-center">Поставки</th>\
                                                </tr>\
                                            </thead >\
                                            <tbody>';
                                            for (i = 0; i < item.parts.length; ++i) {
                                                var part = item.parts[i];
                                                system += '\
                                                <tr>\
                                                    <td>' + part.name + '</td>\
                                                    <td> @DateTime.Now </td>\
                                                    <td> @DateTime.Now.AddDays(2) </td>\
                                                    <td class="text-center" style="min-width: 170px">\
                                                        <div class="btn-group btn-group-sm">\
                                                            <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> Измени</button>\
                                                            <button type="button" class="btn btn-default"><i class="fa fa-trash"></i> Избриши</button>\
                                                        </div>\
                                                    </td>\
                                                </tr>';
                                            }
                                            system += '\
                                            </tbody>\
                                        </table>\
                                    </div >';
                                }
                                else {
                                    system += '<h4 class="text-center">Немате додадено компоненти во рамки на овој систем</h4>';
                                }
                                system += '\
                                </div >\
                            </div>';
                            $('#box-systems-container').append(system);
                        });

                        $('table.table-parts').DataTable();
                        $('#box-systems-container .box').boxWidget({
                            animationSpeed: 300
                        });
                    }

                    $(".nav-pills li a[subTypeId]").parent("li").removeClass("active");
                    $(".nav-pills li a[subTypeId=" + subTypeId + "]").parent("li").addClass("active");
                }, //End of AJAX Success function

                failure: function (data) {
                    alert("ГРЕШКА: " + data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert("ГРЕШКА: " + data.responseText);
                } //End of AJAX error function
            });
        }
    </script>

}
