@model PartsViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var modalID = "details-modal";
}

<div id="add-part-button-@Model.InventoryObjectSystemId">
    <a data-toggle="modal" data-target="#@modalID"
       asp-action="AddInventoryObjectPartAjaxFormAsync" asp-controller="InventoryObjectParts" asp-route-id="@Model.InventoryObjectSystemId"
       class="btn btn-info btn-block btn-sm">
        @Localizer["Add component"]
    </a>
</div>

<!-- START: Parts table -->
<div class="table-responsive" system-id="@Model.InventoryObjectSystemId">
    <table class="table table-hover table-bordered table-striped table-responsive table-parts">
        <thead>
            <tr>
                <th>@Localizer["Component"]</th>
                <th>@Localizer["Last service"]</th>
                <th>@Localizer["Next service"]</th>
                <th class="text-center">@Localizer["Inspection"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Model.Parts)
            {
                <tr>
                    <td>@part.Name</td>
                    <td> @DateTime.Now </td>
                    <td> @DateTime.Now.AddDays(2) </td>
                    <td class="text-center" style="min-width: 170px">
                        <div class="btn-group btn-group-sm">
                            <a data-toggle="modal" data-target="#@modalID"
                               asp-action="EditInventoryObjectPartAjaxForm" asp-controller="InventoryObjectParts" asp-route-id="@part.InventoryObjectPartId"
                               class="btn btn-default">
                                @Localizer["Inspect"]
                            </a>
                            <a id="delete-part-btn" part-id="@part.InventoryObjectPartId"
                               class="btn btn-default">
                                @Localizer["Delete"]
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- END: Parts table -->