@using Microsoft.AspNetCore.Mvc.Localization
@using FacilityManagement.Web

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - FacilityManagement</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Styles -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/admin-lte/css/AdminLTE.css" />
        <link rel="stylesheet" href="~/lib/admin-lte/css/skins/skin-blue.css">
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.css">
        <link rel="stylesheet" href="~/lib/toastr.js/toastr.css">
        <link rel="stylesheet" href="~/css/site.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
        <link rel="stylesheet" href="~/lib/admin-lte/css/AdminLTE.min.css" />
        <link rel="stylesheet" href="~/lib/admin-lte/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css">
        <link rel="stylesheet" href="~/css/site.css">
    </environment>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>F</b>M</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Facility</b> Management</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">@SharedLocalizer["Open Menu"]</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <partial name="_SelectLanguagePartial" />
                        <partial name="_LoginPartial" />
                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">@SharedLocalizer["Navigational Menu"]</li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> <span>@SharedLocalizer["Home"]</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-industry"></i> <span>@SharedLocalizer["Inventory"]</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-area="" asp-controller="InventoryObjects" asp-action="Index"><i class="fa fa-minus"></i> <span>@SharedLocalizer["Compressors"]</span></a></li>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewData["Title"]
                    <small>@ViewData["Description"]</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> @SharedLocalizer["Home"]</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>@SharedLocalizer["Version"]: </b> Pre-Alpha v0.0.1
            </div>
            <strong>Copyright &copy; 2019 Facility Management.</strong> @SharedLocalizer["All rights reserved"].
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- Scripts -->
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/admin-lte/js/adminlte.js"></script>
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>
        <script src="~/lib/toastr.js/toastr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>
        <script src="~/lib/toastr.js/toastr.min.js"></script>
    </environment>

    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "4000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>

